<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- CSS link -->
    <link
      href="{% static 'webapp/css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <title>Matrix ingatlan</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="{% static 'webapp/images/logo.jpg' %}"
            alt="matrix logo"
            height="50"
            width="50"
          />
          Matrix ingatlan
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#TogglerButton"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="TogglerButton">
        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'homepage' %}">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ingatlanok' %}">Ingatlanok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Szolgáltatások</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rólunk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Elérhetőségek</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Block content-->

    {% block content %} {% endblock content %}

    <!-- Footer -->
    <footer id="contacts">
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-md-6" id="footer_logo">
            <span>Matrix Ingatlan</span>
          </div>
          <div class="col-md-6" id="facebook">
            Kövess minket: <a href="#"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="col-md-4">
            <p>9400 Sopron</p>
            <p>Lővér Krt. 93. I. em.</p>
          </div>
          <div class="col-md-4">
            <p>Graf Nándor</p>
            <p>+36 30/364-8737</p>
            <p>matrixingatlan@freemail.hu</p>
          </div>
          <div class="col-md-4">
            <p>Irodánk</p>
          </div>
          <div class="col-12">
            <hr class="light-100" />
            <h5>&copy; 2020 <span>Matrix Ingatlan</span></h5>
          </div>
          <div class="col-md-6">
            <a href="#">Adatkezelési szabályzat</a>
          </div>
          <div class="col-md-6">
            <a href="#">Jogi nyilatkozat</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
