{% extends "webapp/base.html" %} {% load static %} {% block content %}
<div class="container-fluid" style="width: 90%;">
  <div class="row ingatlanok-row">
    <div class="col-md-4">
      <img
        class="cover"
        src="{% static 'webapp/images/home.jpg' %}"
        alt="home"
      />
      <div class="prop-box">
        <h5><strong>28.000.000 Ft</strong></h5>
        <p>Lakás | 2 szoba | 1 fürdőszoba | 52 m²</p>
        <h6 style="display: inline-block;"><strong>Sopron</strong></h6>
        <a class="btn btn-outline-secondary" href="#" style="float: right;"
          >Részletek</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <img
        class="cover"
        src="{% static 'webapp/images/home.jpg' %}"
        alt="home"
      />
      <div class="prop-box">
        <h5><strong>28.000.000 Ft</strong></h5>
        <p>Lakás | 2 szoba | 1 fürdőszoba | 52 m²</p>
        <h6 style="display: inline-block;"><strong>Sopron</strong></h6>
        <a class="btn btn-outline-secondary" href="#" style="float: right;"
          >Részletek</a
        >
      </div>
    </div>
    <div class="col-md-4">
      <img
        class="cover"
        src="{% static 'webapp/images/home.jpg' %}"
        alt="home"
      />
      <div class="prop-box">
        <h5><strong>28.000.000 Ft</strong></h5>
        <p>Lakás | 2 szoba | 1 fürdőszoba | 52 m²</p>
        <h6 style="display: inline-block;"><strong>Sopron</strong></h6>
        <a class="btn btn-outline-secondary" href="#" style="float: right;"
          >Részletek</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock content %}
