@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: whitesmoke;
}

#contacts {
  background-color: #00b386;
  color: white;
  font-size: 14 px;
  font-weight: 400;
}

#contacts a {
  color: blue;
}

h5 span {
  font-weight: 500;
}

#footer_logo {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 2rem;
  text-align: left;
  padding-top: 1rem;
}

#facebook {
  text-align: right;
  padding-right: 4rem;
  padding-top: 1rem;
}

.figure img {
  height: 210px;
  width: 100%;
}

.figure a {
  text-decoration: none;
}

.figure figcaption {
  font-size: 17px;
}
.figure figcaption:hover {
  color: black;
  font-weight: bold;
}

hr.b-side {
  color: black;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  padding-top: 15px;
}
